

$theme-background-color : (

    background-primary-color: #fff,

    background-secondary-color: #f9f9f9,

    background-tertiary-color: #363636,

    background-dark-color: #000,

    background-small-text: #eee,
);

$theme-color:(

    primary-color: #000000,

    header-color: #000000,

    custom-header-slider-color: #111111,

    theme-heading-color: #000000,

    theme-link-color: #111111,

    theme-link-hover-color: #f5808c,

    secondary-link-color: #777777,

    color-white-light: #fff,

    quote-color: #f5808c,

    theme-primary-border-color: #e6e6e6,
);

$button-color: (

    background-button: #f5808c,

    button-text-color: #ffffff,

    button-hover-text-color: #000000,

    background-hover-button: #ffffff
);
