.customize-control-checkbox label{
    font-weight: 600;
}
.customize-control-checkbox,
#customize-theme-controls .customize-pane-child.menu li.customize-control-checkbox{
    position: relative;
}
.customize-control.customize-control-checkbox .customize-inside-control-row{
    margin-left: 0;
}
.customize-control-checkbox input[type=checkbox] {
    width: 42px;
    height: 18px;
    background: #444;
    border-radius: 100px;
    position: absolute;
    right: 0;
    top: 12px;
    border: none;
    min-width: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.customize-control-checkbox input[type=checkbox]:checked:before{
    display: none;
}
.customize-control-checkbox input[type=checkbox]:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 100%;
    transition: 0.3s;
}
.customize-control-checkbox input:checked{
    background: #4caf50;
}
.customize-control-checkbox input:checked:after {
    left: 100%;
    transform: translateX(-100%);
}
.customize-control-checkbox input:active:after {
    width: 15px;
}
.customize-control-checkbox .customize-control-description{
    margin-top: 10px;
}

.customize-control input[type=email], .customize-control input[type=number], .customize-control input[type=password], .customize-control input[type=search], .customize-control input[type=tel], .customize-control input[type=text], .customize-control input[type=url],.customize-control select{
    line-height: 2.5;
    border-radius: 0;
    border-color: #aaa;
}