/**
 * 7.3.17 - Sticky Playlist Section
 */

#sticky-playlist-section {
    overflow: initial;
    padding: 0;
    width: 100%;
	bottom: 0;
    left: 0;
    position: fixed;
    z-index: 200;
}

#sticky-playlist-section .hentry {
	margin: 0;
	padding: 0;
}

#sticky-playlist-section .wp-playlist,
#sticky-playlist-section .entry-content {
    margin: 0;
}

#sticky-playlist-section .wp-playlist-item {
    padding: 0.857em 1.25em;
}

#sticky-playlist-section .wp-playlist-current-item {
    padding: 0;
}

#sticky-playlist-section .wp-playlist-item-length {
    right: 1.75em;
}

#sticky-playlist-section .wp-playlist-tracks {
    right: 0;
    padding: 0;
    position: absolute;
    bottom: 100%;
    max-width: 440px;
    margin: 0 auto;
    width: 100%;
    z-index: 9999;
}

#sticky-playlist-section .wp-playlist-caption,
#sticky-playlist-section .wp-playlist-item-title,
#sticky-playlist-section .wp-playlist-item-length  {
    font-size: 14px;
    font-size: 0.875rem;
}

#sticky-playlist-section .wp-playlist-item-title {
    font-weight: 700;
    line-height: 1.692307692307692;
}

#sticky-playlist-section .wp-playlist,
#sticky-playlist-section .wp-playlist-current-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#sticky-playlist-section .wp-playlist-current-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

#sticky-playlist-section .mejs-container.signify-mejs-container .mejs-inner {
	margin-right: 55px;
}

#sticky-playlist-section .mejs-container.signify-mejs-container .mejs-toggle-playlist {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 56px;
}

#sticky-playlist-section .mejs-container.signify-mejs-container .mejs-toggle-playlist button {
	background-color: transparent;
	background-image: none;
	border-radius: 0;
	background: 0 0;
    padding: 0;
	width: 55px;

    &:hover,
    &:focus {
        box-shadow: none;
        transform: none;
    }
}

#sticky-playlist-section.playlist-shorten .playlist-hide {
    right: 0;
}

#sticky-playlist-section .playlist-hide {
    border: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    z-index: 999;
}

#sticky-playlist-section .playlist-hide .fa {
    display: block;
}

#sticky-playlist-section .wp-playlist-current-item, 
#sticky-playlist-section .signify-mejs-sticky-playlist-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
}

.signify-mejs-sticky-playlist-container.mejs-container .mejs-time, .signify-mejs-sticky-playlist-container.mejs-container .mejs-time-rail, .signify-mejs-sticky-playlist-container.mejs-container .mejs-button.mejs-volume-button, .signify-mejs-sticky-playlist-container.mejs-container a.mejs-horizontal-volume-slider {
    display: none;
}

#sticky-playlist-section .signify-mejs-container.mejs-container .mejs-controls {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

#sticky-playlist-section.playlist-shorten .wp-playlist-current-item .wp-playlist-caption, #sticky-playlist-section.playlist-shorten .mejs-time.mejs-currenttime-container, #sticky-playlist-section.playlist-shorten .mejs-time-rail, 
#sticky-playlist-section.playlist-shorten .mejs-time.mejs-duration-container, #sticky-playlist-section.playlist-shorten .mejs-button.mejs-volume-button.mejs-mute, #sticky-playlist-section.playlist-shorten .mejs-horizontal-volume-slider,
#sticky-playlist-section.playlist-shorten .signify-mejs-container.mejs-container .mejs-controls,
#sticky-playlist-section.playlist-shorten .signify-mejs-container.mejs-container .mejs-controls .mejs-button.mejs-previous,
#sticky-playlist-section.playlist-shorten .mejs-toggle-playlist,
#sticky-playlist-section.playlist-shorten .signify-mejs-container.mejs-container .mejs-controls .mejs-button.mejs-next {
    display: none;
    opacity: 0;
    visibility: hidden;
}

#sticky-playlist-section.playlist-shorten .playlist-wrapper {
    overflow: hidden;
    width: 80px;
}

body .playlist-shorten .wp-playlist .wp-playlist-current-item img {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 0;
    opacity: .5;
    z-index: 2;
}

#sticky-playlist-section .wp-playlist {
    height: 65px;
    padding-right: 30px;
}

#sticky-playlist-section .playlist-wrapper {
    width: 100%;
}

.playlist-shorten .playlist-hide .fa-angle-left:before {
    content: "\f105";
}

#sticky-playlist-section .playlist-wrapper {
    padding: 0;
}

.playlist-shorten .mejs-play button {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.signify-mejs-container.mejs-container .mejs-controls .mejs-button {
    cursor: pointer;
    display: block;
    position: relative;
}